.sidebar {
  background-color: shade(@window_bg_color, 0.95);
  border-right: 1px solid alpha(@window_fg_color, 0.1);
}

.sidebar .heading {
  font-weight: bold;
  opacity: 0.8;
}

.content {
  background-color: @view_bg_color;
}
