.sidebar {
  background-color: @sidebar_bg_color;
}

.sidebar-list {
  padding-bottom: 12px;
}

.content {
  background-color: @view_bg_color;
}

.footer-bar {
    border-top: 1px solid @borders;
    background-color: @window_bg_color;
}

.top-bar {
  background-color: @headerbar_bg_color;
  border-bottom: 1px solid @borders;
}

.app-title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.2px;
  opacity: 1;
}
